<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Scraper of News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="home" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="scrape" href="/scrape">Scrape</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="saved" href="/savedarticles">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="delete" href="#">Delete Articles</a>
            </li>
        </ul>

    </div>
</nav>
<br>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, user!</h1>
        <p class="lead">This app scrapes Google New's technology section for some techy articles.</p>
        <hr class="my-4">
        <p>Press the button below to scrape some articles.</p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
    </div>

</div>


<div class="container">

    <div class="row">

        {{#each articles}}
        <div class="col-lg-6">
            <div class="article-holder text-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src={{this.thumbnail}} class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.title}}</h5>
                                <a class="article-link" target=" _blank" href={{this.link}}>{{this.link}}</a>
                                <br>
                                <a class="btn btn-primary article-save">Save Article</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </div>


</div>