<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Notes for: {{articles.title}}</h1>
        <p class="lead"></p>
    </div>
</div>





<div class="container">
    <input type="text" class="note">
    <button class="btn btn-primary create-note" data-id={{articles._id}}>Add Note</button>

    <div class="row">

        {{#each articles.note}}
        <div class="card" data-id={{this._id}} style="width: 18rem;">
            <div class="card-body">
                <p class="card-text">{{this.body}}</p>
                <button class="btn btn-danger delete-note">Remove Note</button>
            </div>
        </div>
        {{/each}}

    </div>
</div>


<script src="/assets/js/notes.js"></script>